/* body{
    overflow: hidden;
} */
#cover{
    background-image: url("../img/login_bg.jpeg");
    background-color: #f3f3f3cf;
    background-blend-mode: color;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

/* only used for background overlay not needed for centering */
#login:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
    border-radius: 10px;
}



#username, 
#plate,
#city,
#driver,
#time,
#km,
#location {
    text-transform: uppercase;
}
